/* CSS Document */
th#workshop_img, th#workshop_category, #date_curso, #date_ini, #date_place, #date_city, #status{width:8%}
.postbox{float:left;display:inline;width:100%; padding-bottom:10px;}
#places_data .inside label, #custom_dates .inside label{display:inline;float:left;width:100%;margin-bottom:3px}
#places_data .inside label strong, #custom_dates .inside label strong{float:left;display:inline;width:100%}
#places_data .inside label input, #custom_dates .inside label input{width:100%}