@font-face {
  font-family:'DINN-Heavy';
  src: url('fonts/DINNextLTPro-Heavy.eot?#iefix') format('embedded-opentype'),  url('fonts/DINNextLTPro-Heavy.woff') format('woff'), url('fonts/DINNextLTPro-Heavy.ttf')  format('truetype'), url('fonts/DINNextLTPro-Heavy.svg#DINNextLTPro-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'DINN-Light';
  src: url('fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/DINNextLTPro-Light.otf')  format('opentype'), url('fonts/DINNextLTPro-Light.woff') format('woff'), url('fonts/DINNextLTPro-Light.ttf')  format('truetype'), url('fonts/DINNextLTPro-Light.svg#DINNextLTPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'DINN-Regular';
  src: url('fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/DINNextLTPro-Regular.woff') format('woff'), url('fonts/DINNextLTPro-Regular.ttf')  format('truetype'), url('fonts/DINNextLTPro-Regular.svg#DINNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}