/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike,strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i{margin:0;padding:0;border:0;outline:0;font-weight:normal;font-style:normal;font-size:100%;font-family:inherit;vertical-align:baseline}
body{line-height:1}
:focus{outline:0}
ol, ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
blockquote:before, blockquote:after, q:before, q:after{content:""}
blockquote, q{quotes:"" ""}
input, textarea{margin:0;padding:0}
hr{margin:0;padding:0;border:0;color:#000;background-color:#000;height:1px}
strong{font-weight:bold}
/* fin reset */
body{font-family:'Open Sans',sans-serif;color:#292626;font-size:1.12em;font-weight:normal}
a{color:#292626;text-decoration:none}
p{line-height:1.5em}
h1{font-family:'DINN-Heavy';float:left;display:inline;width:100%;font-size:3.3em!important;margin-bottom:1.4em}
h2{font-family:'DINN-Light';font-size:3.7em!important}
h3{font-family:'DINN-Regular';font-size:2.1em!important}
h6{font-family:'DINN-Regular'}
h1,h2,h3{text-align:center}
#content{float:left;display:inline;width:100%;margin-top:105px}
.wrap{float:left;display:inline;width:90%;margin:0 5%;position:relative}
footer{float:left;display:inline;width:100%;background:#292626;color:#9a9899;position:relative;padding:3.4em 0;font-size:0.7em;margin-top:4em}
ul.footer_item{float:left;display:inline;width:51%;margin-left:4%}
ul.footer_item li{float:left;display:inline;width:29.3333%;margin:0 2%}
ul.footer_item li h6{text-transform:uppercase;font-weight:bold;margin-bottom:1.1em;font-size:1.2em}
ul.footer_item li p{line-height:1.6em}
ul.footer_item li p span{display:block;color:#fff;font-weight:500;font-size:1.07em;margin-bottom:1.2em}
ul.redes{float:right;display:inline;width:18%}
ul.redes li, ul.redes li a{float:left;display:inline}
ul.redes li a{width:31px;background:url(images/icons_redes.gif) no-repeat 0 0;height:31px;text-indent:-9999px;margin-left:20px}
ul.redes li.linkedIn a{background-position:-31px 0}
ul.redes li.Facebook a{background-position:-62px 0}
footer p.legal{position:absolute;right:64px;bottom:6px;float:right;display:inline}
#logo{float:left;display:inline;background:url(images/logotipo.gif) no-repeat 0 0;width:103px;height:31px;text-indent:-9999px;margin:19px 0 0 2.4em}
header{float:left;display:inline;width:100%;background-color:#fff;position:fixed;height:70px;top:0;overflow:hidden;z-index:10000}
a#menu_button{float:left;display:inline;position:absolute;right:2.5em;top:17px;background:url(images/main_menu.gif) no-repeat 0 0;text-indent:-9999px;width:42px;height:38px}
#lang_sel_list{float:left;display:inline;position:absolute;right:114px;top:31px}
#lang_sel_list a:visited, #lang_sel_list a, #lang_sel_list a:link{font-size:13px;padding-left:15px;font-weight:500}
header #lang_sel_list a.lang_sel_sel{font-weight:bolder}
p.end_link{float:left;display:inline;width:100%;text-align:center;margin:3.3em 0 0;text-transform:uppercase}
p.end_link a{font-family:'DINN-Heavy';color:#292626;text-decoration:none;font-size:1.7em}
header .wrap{width:100%;margin:0}
a.mobile_expand_menu{display:none}

ul.footer_item li p.google_link{display:none}
ul.footer_item li address{line-height:1.6em}
ul.footer_item li address strong{display:block;color:#fff;font-weight:500;font-size:1.07em;margin-bottom:1.2em}
ul.footer_item li address a.mailto_link{display:none}

/* POPUPS */
.modal{float:left;display:inline;width:100%;height:100%;overflow:hidden}
#popup{position:fixed!important;right:0;bottom:0;top:0;left:0;background:#292626;z-index:10001;text-align:center;-webkit-transition:box-shadow 0.5s, border 0.5s;-moz-transition:box-shadow 0.5s, border 0.5s;-o-transition:box-shadow 0.5s, border 0.5s;-ms-transition:box-shadow 0.5s, border 0.5s;transition:box-shadow 0.5s, border 0.5s;visibility:hidden;border:0}
#popup.absolute{position:absolute!important;right:auto;bottom:auto}
#popup a.close{position:absolute;right:2.8em;top:-3em;background:url(images/close_icon.gif) no-repeat 0 0;width:24px;height:24px;text-indent:-9999px;transition-property:top;transition-duration:0.5s;transition-delay:0}
#popup.active{box-shadow:inset 0 0 0 2.7em #fff}
#popup.active a.close{top:0.6em}

	/* main menu */
	div#main_menu{display:table;height:500px;width:auto;margin:0 auto}
	ul.nav_list{display:table-cell;vertical-align:middle;text-align:center}
	ul.nav_list li{float:left;display:inline;margin:0 1.3em}
	ul.nav_list li a{width:100%;float:left;display:inline;font-family:'DINN-Light';text-decoration:none;font-size:2.3em;color:#fff}
	ul.nav_list li.active a{color:#CEDF00;font-weight:bold;cursor:default}

	/* contact form */
	.content_popup{display:table;float:left;padding:5.5em 2.7em;color:#fff;width:calc(100% - 5.4em)}
	form fieldset{float:left;display:inline;width:44%;margin:0 27% 0 29%}
	.content_popup h2{font-family:'DINN-Heavy';font-size:2.2em!important;margin-bottom:1em}
	fieldset.form label strong{display:none}
	fieldset.form label.show_label strong{float:left;display:inline;width:100%;text-align:left;font-family:'Open Sans',sans-serif;font-weight:normal;font-size:0.8em;margin-bottom:0.4em}
	fieldset.form label{float:left;display:inline;width:100%;margin:.70em 0 0;padding:0;-webkit-transition:opacity 0.60s;-moz-transition:opacity 0.60s;-o-transition:opacity 0.60s;-ms-transition:opacity 0.60s;transition:opacity 0.60s;}
	fieldset.form label .field{float:left;display:inline;width:calc(100% - 65px);padding:0.70em 1.2em;background:#4E4D4D;border:none;color:#D8D9DD;font-size:1em;font-family:'DINN-Regular'}
	fieldset.form label .field::-webkit-input-placeholder{color:#D8D9DD}
	fieldset.form label .field:-moz-placeholder{color:#D8D9DD}
	fieldset.form label .field::-moz-placeholder{color:#D8D9DD}
	fieldset.form label .field:-ms-input-placeholder{color:#D8D9DD}
	fieldset.form label.required .field_wrap{float:left;display:inline;width:100%;background:url('images/field_required.png') no-repeat right 0.1em}
	fieldset.form label textarea{height:7.5em}
	fieldset.form label.legal input{display:none}
	fieldset.form label.legal strong{display:inline;font-weight:normal;float:left;line-height:1.7em}
	fieldset.form label.legal strong a{color:#F2F2F2}
	form fieldset div.footer{float:left;display:inline;width:93%;margin:2.4em 6% 0% 1%;border-top:2px solid #999999;position:relative;padding-top:0.7em}
	form fieldset div.footer p{float:left;display:inline;width:auto;font-size:0.7em;margin-top:0.4em}
	form fieldset div.footer .redes{width:auto}
	input.btn_send{font-family:'DINN-Heavy';border:none;background:#292626;color:#fff;text-transform:uppercase;font-size:1.7em;margin:0.85em 1em 0 0;cursor:pointer}
	fieldset.form label.show_label{background-position:calc(100% - 0.7em) 1.2em}

	/* CV */
	div.upload{width:23%;float:right;background:url(images/file_field_button.gif) no-repeat center center;overflow:hidden;cursor:pointer;background-size:100% auto}
	div.upload input{display:block!important;width:100%!important;opacity:0!important;overflow:hidden!important;cursor:pointer}
	label.file input.field{width:calc(75% - 2.4em)!important}
	section.lang_es div.upload{background-image:url(images/file_field_button_es.gif)}
	fieldset.form label.file{background:#4E4D4D;width:calc(100% - 22px)}
	/* FIN CV */

	fieldset.form .hideLabel{opacity:0.001}
	span.EndMsgText{float:left;display:none;width:calc(100% - 1em);text-align:center;margin-top:0.85em;margin-right:1em;text-transform:uppercase;font-size:1.7em;font-family:'DINN-Heavy'}
	span.EndMsgText.error{color:red}
}
/* FIN POPUPS */

/* COMUNES */
.comment_list{float:left;display:inline;width:100%;background:#F2F2F2;margin-top:3.2em}
.comment_list ul{float:left;display:inline;width:100%}
.comment_list ul li{float:left;display:none;width:30%;text-align:center;padding:2.5em 35%}
.comment_list ul li:first-child{display:inline}
.comment_list ul li p{line-height:1.25em;margin:0 10% 0}
.comment_list ul li p.author{font-size:0.85em}
fieldset.form label.legal strong span{cursor:pointer;float:left;display:inline;width:2em;height:2em;background:url('images/check_icons.gif') no-repeat 0 0;margin-right:15px;background-size:200% auto}
fieldset.form label.legal strong span.checked{background-position:right 0}
p.msg_error{float:left;display:none;width:100%;text-align:left;color:#FF6000;font-size:0.8em;margin-bottom:0.5em}
/* FIN COMUNES */

/* team */
body#equipo , body#team{}
.intro_team{float:left;display:inline;width:100%;padding-bottom:2em}
.module{float:left;display:inline;width:100%}
ul.team{float:left;display:inline;width:98%;padding:0 1%;margin:0 2%}
ul.team li{float:left;display:inline;width:32%;position:relative;overflow:hidden}
ul.team li a{float:left;display:inline;width:100%}
ul.team li img{float:left;display:inline;width:100%;height:auto}
ul.team li .data{float:left;display:inline;width:100%;background:rgba(75,79,10,0.70);position:absolute;left:0;top:0;text-align:center;color:#fff;-webkit-transition:opacity 0.60s;-moz-transition:opacity 0.60s;-o-transition:opacity 0.60s;-ms-transition:opacity 0.60s;transition:opacity 0.60s;opacity:0}
ul.team li .data h2{font-size:2.3em!important;margin:0 20%}
ul.team li:hover .data{opacity:1}
.partners ul.clients{float:left;display:inline;width:95%;margin:0 2.5%}
.partners ul.clients li{float:left;display:inline;width:20%}
.partners ul.clients li a{float:left;display:inline;width:96%;margin:2%}
.partners ul.clients img{float:left;display:inline;width:100%;height:auto}
.intro_team .text{-webkit-column-gap:2em;-moz-column-gap:2em;column-gap:2em;-webkit-column-count:2;-moz-column-count:2;column-count:2;width:60%;float:right;display:inline;margin-bottom:20px;margin-right:4%;text-align:justify}
.intro_team h2{float:left;display:inline;width:20%;text-align:center;margin:0 5%}
.external_links{float:left;display:inline;width:96%;margin:2em 2% 0}
.external_links ul{float:left;display:inline;width:100%}
.external_links li{float:left;display:inline;width:46.9%;margin:0 1%;background:#F2F2F2;padding:10em 0 0;text-align:center;position:relative}
.external_links li.item_02{float:right}
.external_links li h3{margin:0 0 26px}
.external_links li p{margin:0 25%}
.partners h3{font-size:3.7em!important;font-family:'DINN-Light';line-height:1.5em;margin:0.55em 0 0.4em}
.external_links li p.link{width:100%;margin:5.6em 0;float:left;display:inline;text-align:center}
.external_links li a{color:#292626;text-decoration:none;font-weight:600}
.partners img:hover{-webkit-filter:grayscale(0%);-webkit-transition:.2s ease-in-out;-moz-filter:grayscale(0%);-moz-transition:.2s ease-in-out;-o-filter:grayscale(0%);-o-transition:.2s ease-in-out} 
.partners img{-webkit-filter:grayscale(100%);-webkit-transition:.2s ease-in-out;-moz-filter:grayscale(100%);-moz-transition:.2s ease-in-out;-o-filter:grayscale(100%);-o-transition:.2s ease-in-out}
/* FIN team */

/* SERVICES */
body#servicios h1, body#services h1{margin-bottom:0.25em}
body#servicios #content, body#services #content{background:url(images/services_background.png) repeat-x center bottom}
body#servicios #content .wrap, body#services #content .wrap{padding-bottom:290px;background:url(images/smartie.png) no-repeat center calc(100% - 80px)}
body#servicios footer, body#services footer{margin-top:0}
.services_content, .services_content ul, .services_content li{float:left;display:inline;width:100%}
.services_content{margin:0 10%;width:80%;position:relative}
.services_content li{cursor:pointer;border-radius:50%;border:5px solid rgba(206,223,0,0.26);width:46%;padding:0 2em;text-align:center;background:url(images/services_separator.png) no-repeat center calc(100% - 4em);-webkit-transition:background 0.5s, border 0.5s;-moz-transition:background 0.5s, border 0.5s;-o-transition:background 0.5s, border 0.5s;-ms-transition:background 0.5s, border 0.5s;transition:background 0.5s, border 0.5s}
.services_content li.item_02{position:absolute;right:0;top:0;border-color:rgba(78,77,77,0.26)}
.services_content li h2{font-family:'DINN-Regular';font-size:2.2em!important;margin-bottom:0.65em}
.services_content li a{text-decoration:none;color:#292626}
.services_content li p{width:70%;margin:0 auto;text-align:justify}
.services_content li.item_02:hover{background-color:rgba(78,77,77,0.26);border-color:transparent}
.services_content li.item_01:hover{background-color:rgba(206,223,0,0.26);border-color:transparent}
.services_comment .comment_list ul li{background-color:#F2F2F2}
.services_comment .comment_list ul{width:97%;margin:0 1.5%;padding:3em 0 0}
.services_comment img.client_logo{margin-top:1.3em}
/* FIN SERVICES */

/* FICHAS SERVICIOS */
body.services h1, body.servicios h1{margin-bottom:0.7em}
.system_accordion, .system_accordion ul.items_group, .system_accordion li.item{float:left;display:inline;width:100%}
.system_accordion li.item{padding:1.45em 5% 0;border-bottom:1px solid #D8D9DD;cursor:pointer;width:90%;-webkit-transition:all 0.60s;-moz-transition:all 0.60s;-o-transition:all 0.60s;-ms-transition:all 0.60s;transition:all 0.60s}
.system_accordion li.item h2{font-size:1.7em!important;margin-bottom:0.75em}
.system_accordion li:last-child{border:0}
.system_accordion li.active{background:#292627}
.system_accordion li.active h2{color:#D1DE07}
.system_accordion ul.list{display:none;float:left;width:70%;margin:0 15% 2.2em;height:0;padding-top:1em}
.system_accordion ul.list li{line-height:1.3em;display:inline-table;float:left;width:40%;color:#fff;margin-right:10%;height:45px;font-family:'Open Sans';font-weight:normal;text-transform:uppercase;font-size:0.80em}
.system_accordion ul.list li:nth-child(even){margin-left:10%;margin-right:0}
.system_accordion li.active ul.list{overflow:hidden;height:auto}
/* FIN FICHAS SERVICIOS */

/* ABOUT */
body.about h1{margin-bottom:1.2em}
.about_content{float:left;display:inline;width:97%;margin:0 1.5%}
.about_content ul, .about_content ul li{float:left;display:inline;width:100%}
.about_content li{background-color:#000;overflow:hidden;position:relative;-ms-background-size:cover;-o-background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;background-size:cover}
.about_content li .text-content p{margin-top:1em}
.about_content li:nth-child(even){background-color:#344411}
.about_content li:last-child{background:none}
.about_content li h2{z-index:10;position:absolute;top:0;font-family:'DINN-Heavy';float:left;display:inline;width:45%;background:#fff;text-align:right;padding:0.2em 5% 0.2em 0;font-size:6.2em!important}
.about_content li .text-content{bottom:-1px;right:-1px;position:relative;z-index:10;float:right;display:inline;background:#fff;width:40%;padding:2.4em 5% 8.6em;margin-top:23em}
.about_content li:nth-child(even) h2{float:right;text-align:left;right:-1px;padding:0.2em 0 0.2em 5%}
.about_content li:nth-child(even) .text-content{float:left;text-align:right;right:0}
.about_content li:last-child h2{margin-top:1.60em!important;background:none}
.about_content li:last-child h2 span{float:left;display:inline}
.about_content li:last-child .text-content{margin-top:1em!important;text-align:left;background:none;padding-bottom:2.5em}
.about_content li:last-child .text-content br{margin-bottom:1em}
.about_content li h2 a.next{background:url(images/repeat.png) no-repeat center center;float:left;display:inline;width:0.45em;height:0.45em;text-indent:-9999px;margin:0.2em 0 0 0.25em;background-size:cover;max-width:43px;max-height:43px}
.offices_list, .offices_list ul, .offices_list li{float:left;display:inline;width:100%}
.offices_list li{width:27%;margin:0 1.5%;background:#F2F2F2;text-align:center;padding:8em 10%}
.offices_list{margin-top:3.9em}
.offices_list li h6{font-size:2.3em;margin-bottom:0.7em}
.offices_list li address{}
.offices_list li address a{text-decoration:none}
.offices_list li address a.mailto_link{display:block;font-weight:bold;margin-bottom:1.5em}
.offices_list li address strong{display:block;font-weight:normal;margin-bottom:0.4em}
.offices_list li address span{line-height:1.3em;margin-bottom:5em;float:left;display:inline;width:100%}
.about_content li svg{position:absolute;left:0;top:0;opacity:0.25;z-index:2}
.about_content li .number{color:#fff;float:left;display:inline;width:40%;text-align:right;position:absolute;top:0;padding:0 5%;left:0;padding-top:3.7em;margin-top:23em;z-index:2}
.about_content li:nth-child(even) .number{right:0;left:auto;text-align:left}
.about_content li .number h6{font-size:2.3em;font-family:'DINN-Light'}
.about_content li .number p{width:40%;font-size:0.75em;line-height:1.2em;float:right;clear:both;max-width:160px}
.about_content li:nth-child(even) .number p{float:left}
.about_content li .image_wrap{opacity:0.25;position:absolute;z-index:1;top:0;left:0}
.about_content li .number a.next{clear:both;background:url('images/down_arrow.gif') no-repeat 0 0;float:right;display:inline;width:15px;height:27px;text-indent:9999px;margin-top:3em}
.about_content li:nth-child(even) .number a.next{float:left;text-indent:-9999px}
/* FIN ABOUT */

/* PROJECT LIST */
body.projects h1, body.proyectos h1{margin-bottom:0.65em}
ul.sections, ul.sections li, ul.sections a{display:inline;float:left;text-align:center}
ul.sections li{width:auto;margin-bottom:1.2em;font-size:0.85em}
ul.sections a.empty{cursor:no-drop;color:#aaa}
ul.sections li.active a{font-weight:bold}
.project_list_content{float:left;display:inline;width:100%}
#project_list, #project_list ul, #project_list li{float:left;display:inline;width:100%}
#project_list{width:97%;margin:0 1.5%}
#project_list li{width:33.3333%;overflow:hidden;position:relative}
#project_list li.item h2{position:absolute;left:0;top:0;z-index:2;width:40%;font-family:'DINN-Regular';color:#fff;font-size:2.05em!important;letter-spacing:0.04em;margin:0 30%;background:url(images/link_icon.png) no-repeat center bottom;padding-bottom:1.3em;line-height:1.15em;opacity:1}
#project_list.animate li.item h2{-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s}
#project_list li.archive_link h2{background:none;padding-bottom:0}
#project_list li.item a, #project_list li.item a img{float:left;display:inline;width:100%}
#project_list li.item a img{position:relative;left:0;top:0;height:auto;opacity:0.15;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s}
#project_list li.item a{position:relative;background:#000;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s}
#project_list li .data{background:url('images/project_separator.png') no-repeat center center;position:absolute;left:0;top:0;z-index:3;text-align:center;color:#fff;opacity:0;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s}
#project_list li .data p{position:absolute;bottom:1.5em;width:100%}
#project_list li .data h6{font-family:'Open Sans',sans-serif;text-transform:uppercase;padding:1.7em 0 0;font-size:1.15em}
#project_list li.item:hover a{background:#5E5E11}
#project_list li.item:hover h2{top:-30px;opacity:0}
#project_list li.item:hover .data{opacity:1}
#project_list li.item:hover a img{opacity:0.32;width:110%!important;left:-5%;top:-5%;position:relative}
.items_3 li.archive_link, .items_7 li.archive_link{width:66.6666%!important}
.items_2 li.archive_link, .items_5 li.archive_link, .items_6 li.archive_link, .items_9 li.archive_link{width:100%!important;height:auto!important;padding:3em 0 2em!important}
#project_list li.archive_link h2{font-family:'DINN-Heavy';text-transform:uppercase;font-size:1.7em!important}
#project_list li.archive_link h2 a{float:left;display:inline;width:100%}
.archive section.year{float:left;display:inline;width:100%;margin-bottom:0.7em;position:relative;background:#F2F2F2}
.archive section.year label{float:left;display:inline;width:14.7%;text-align:center;padding-top:3.3em;font-weight:bold;font-size:0.85em}
#project_list.archive section.year ul{width:85.3%}
.archive section.year:nth-child(even){background:#fff}
/* FIN PROJECT LIST */

/* PROJECT DETAILS */
body.post #content{margin-top:70px}
.post_header{max-width:1800px;margin:0 auto}
.post img{width:100%;height:auto;float:left;display:inline}
nav.post-links, nav.post-links ul, nav.post-links li{float:left;display:inline;width:100%}
nav.post-links{background:#F2F2F2;margin-bottom:3.8em}
nav.post-links li{width:33.3333%;padding:0.9em 0;font-size:0.8em;text-transform:uppercase}
nav.post-links li a{font-weight:bolder}
nav.post-links li.next{text-align:right}
nav.post-links li.next a{background:url('images/next_arrow.gif') no-repeat right center;padding-right:34px;margin-right:15px}
nav.post-links li.preview a{background:url('images/prev_arrow.gif') no-repeat left center;padding-left:34px;margin-left:15px}
nav.post-links li.list{text-align:center;position:relative}
nav.post-links li.list a{float:left;display:inline;background:url('images/projects_menu_icon.gif') no-repeat 0 0;width:14px;height:14px;text-indent:-9999px;position:absolute;left:50%;margin-left:-7px}
.post section.header{position:relative;float:left;display:inline;width:63%;margin-bottom:-1.5em;padding-left:30%;padding:0 7% 0 30%}
.post section.header h1{width:40%;text-align:left;margin-bottom:0.7em}
.post section.header .intro_text{width:100%;float:left;display:inline}
.post section.header .intro_text p{margin-bottom:1.55em}
.post section.header .intro_text cite{font-weight:bold;margin-bottom:12px;float:left;display:inline;width:100%}
.post section.header .col_01{position:absolute;float:left;display:inline;width:19.7%;left:5.3%;top:0}
.project_info_list, .project_info_list li{float:left;display:inline;width:100%}
.project_info_list li{font-weight:bold}
.project_info_list li.client, .project_info_list li.category{margin-bottom:2.7em}
.project_info_list li.tag{color:#666666;margin-bottom:0.5em}
section.post_numbers, section.post_numbers ul, section.post_numbers li{float:left;display:inline}
section.post_numbers, section.post_numbers ul{width:100%}
section.post_numbers{width:94%;margin:1em 3% 0}
section.post_numbers li{width:20%;text-align:center;height:10em}
section.post_numbers li h6{font-size:2.4em;font-family:'DINN-Light';font-weight:normal;display:block;margin:1.05em 0 0}
section.post_numbers li p{font-size:0.85em;margin:0 10% 2.6em;line-height:1.2em}
section.post_numbers li.center svg{width:auto;height:100%;top:0;left:0}
section.display_2 li{width:40%}
section.display_2 li.center{width:20%}
/* PROJECT DETAILS */

/* HTML EDITOR STYLES */
section.post_content{float:left;display:inline;width:97%;margin:0 1.5%}
section.post_content img{width:100%;height:auto;margin:1.7em 0}
section.post_content p{margin:1em 0;float:left;display:inline;width:100%;text-align:justify}
section.post_content h2, section.post_content h3, section.post_content h4, section.post_content h5, section.post_content h6{font-family:'Open Sans',sans-serif;width:auto;float:left;text-align:left;margin-bottom:0.5em;font-weight:bold}
section.post_content h2{font-size:1.3em!important}
section.post_content h3{font-size:1.2em!important}
section.post_content h4{font-size:1.1em!important}
section.post_content h5{font-size:1em!important}
section.post_content h6{font-size:0.8em!important}
section.post_content .cols_content{width:92.8%;clear:both;float:left;display:inline;margin:0 3.6%}
section.post_content .cols_content br{display:none}
/* END HTML EDITOR STYLES */

/* CAREERS */
body#empleo #content, body#careers #content{margin-top:70px}
section.header_careers{height:28em;max-width:1800px;margin:0 auto 4em;color:#F7F7F7;width:100%;background:url('images/jobs_background.jpg') no-repeat center center;text-align:center;background-size:cover}
section.header_careers h1{margin-bottom:0!important;padding-top:3.7em}
section.header_careers p{margin:0 35%;line-height:1.2em}
section.content_careers .items_group{float:left;display:inline;width:100%}
section.content_careers .items_group .item{position:relative;overflow:hidden;float:left;display:inline;width:89%;margin:0 1.5%;padding:1.7em 4%;border-top:1px solid #D8D9DD;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s}
section.content_careers .items_group .item:first-child{border:none}
section.content_careers .items_group .item h2{text-align:left;font-size:1.7em!important;margin-bottom:1em}
section.content_careers .items_group .item p.intro{float:left;display:inline;width:67%;text-align:justify}
section.content_careers .items_group .item a.more_info{float:right;font-weight:bold;letter-spacing:-0.06em;margin:1.6em 4.5% 0 0}
section.content_careers .items_group .item a.close{float:left;display:inline;position:absolute;right:3%;top:-2em;background:url('images/close_active_icon.png') no-repeat 0 0;width:24px;height:24px;text-indent:-9999px;-webkit-transition:all 0.25s ease-out;-moz-transition:all 0.25s ease-out;-o-transition:all 0.25s ease-out;-ms-transition:all 0.25s ease-out;transition:all 0.25s ease-out}
section.content_careers .items_group li.active{background:#292627;color:#fff}
section.content_careers .items_group li.active h2{color:#D1DE07;width:92%;line-height:1.2em}
section.content_careers .items_group li.active a.more_info, section.content_careers .items_group li.active p.intro{display:none}
section.content_careers .items_group li.active a.close{display:inline}
section.content_careers .items_group li.active a.close{top:1.4em}
section.content_careers .list ul{list-style-type:disc;margin-bottom:2em}
section.content_careers .list ul li{padding-left:0.2em;margin-top:0.8em;margin-left:2.2em;line-height:1.7em}
section.content_careers .items_group li .list{width:67%;float:left;display:none;text-align:justify}
section.content_careers .items_group li .list p{margin-bottom:1em}
section.content_careers p.apply{float:left;display:inline;width:100%;margin:3.2em 0 1.2em}
section.content_careers p.apply a{text-transform:uppercase;color:#fff;font-family:'DINN-Heavy';font-size:1.4em}
section.content_careers .single li.active a.close{display:none}
section.content_careers .single li.active .list{display:inline}
section.content_careers .noitems_block{float:left;display:inline;width:70%;text-align:center;margin:5em 15%;font-size:1.4em;line-height:1.4em}
/* END CAREERS */

/* home */
body#home #content{margin-top:70px}
.home_module{width:100%;max-width:1800px;margin:0 auto;clear:both}
.home_comments{max-width:1300px}
.careers_link{background:url('images/jobs_home.jpg') no-repeat 0 0;background-size:cover;position:relative;height:44em}
.careers_link .content{background:#fff;width:30%;text-align:center;color:#292626;float:right;padding:2.4em 10%;top:0;position:absolute;right:-800px;opacity:0}
.careers_link .content h5{font-family:'DINN-Heavy';font-size:3.1em;letter-spacing:0.02em;margin-bottom:0.3em}
.careers_link a.link{text-transform:uppercase;font-family:'DINN-Heavy';position:absolute;float:left;display:inline;bottom:0;width:30%;padding:3.24em 10%;text-align:center;background:#fff;font-size:1.7em;left:-700px;opacity:0}
.contact_link a{font-family:'DINN-Heavy';float:left;display:inline;width:50%;background-position:center center;background-repeat:no-repeat;background-size:cover;text-align:center;color:#fff;padding:7.5em 0;font-size:1.7em}/*background:url('images/home_contact_background.jpg') no-repeat center center */
.contact_link strong{float:left;display:inline;width:28%;background:#CEDF00 url('images/home_circle_background.png') no-repeat center center;color:#fff;text-align:center;padding:0 11%;font-size:1.3em;line-height:1.2em;position:absolute;right:0;top:0}
.contact_link p{margin-bottom:4.1em;float:left;display:inline;width:100%;position:relative}
.home_text_list{background-color:#F2F2F2;text-align:center;color:#292626}
.home_text_list ul{padding:6.4em 0}
.home_text_list li{font-family:'DINN-Light';text-transform:lowercase;font-size:3.6em;line-height:1.03em}
.home_comments .comment_list ul{width:83.6%!important;margin:0 8.2%}
.home_comments .comment_list{position:relative;float:left;display:inline;width:100%;padding:5em 0}
.home_comments img.thumb{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;position:absolute;left:7%;top:50%;float:left;display:inline;width:40%!important;width:auto;opacity:1;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s}
.home_comments img.hide{left:30px;opacity:0}
.home_comments .comment_list li{background:#292626;position:relative;color:#fff;width:100%!important;padding:0 0 1em;border-top:3em solid #fff;border-bottom:3em solid #fff}
.home_comments .comment_list li .content_item{float:right;display:inline;width:50%;padding:3em 2em}
.home_comments .comment_list ul li p.author{color:#FF6000}
.home_comments .comment_list ul li p{margin-bottom:1.2em}
.home_comments .comment_nav{float:left;display:inline;width:92%;position:absolute;left:4%;top:50%}
.home_comments .comment_nav a{background:url('images/prev_arrow.gif') no-repeat 0 0;width:27px;height:15px;float:left;display:inline;text-indent:-9999px}
.home_comments .comment_nav a.next{ background-image:url('images/next_arrow.gif');float:right}
.content_slider, .home_slider_top ul.slider, .home_slider_top ul.slider li{float:left;display:inline;width:100%}
.content_slider{position:relative}
.home_slider_top ul.slider{background:#000;width:100%!important}
.home_slider_top ul.slider li{position:relative;overflow:hidden;display:inline;width:100%!important}
.home_slider_top ul.slider li.resize{display:inline!important;opacity:0!important}
.home_slider_top ul.slider li .img_content{float:left;display:inline;width:100%;background-repeat:no-repeat;background-position:center center;background-size:cover;opacity:0.25}
.home_slider_top ul.slider li .info{position:absolute;left:0;top:0;width:100%;text-align:center;color:#fff}
.home_slider_top ul.slider li.noAni .info{width:100%!important}
ul.slider li .info a{color:#fff;font-family:'DINN-Heavy';font-size:1.7em}
ul.slider_nav, ul.slider_nav li, ul.slider_nav a{float:left;display:inline}
ul.slider_nav{position:absolute;bottom:1.8em;z-index:1000;left:0}
ul.slider_nav a{background-color:rgba(126,126,126,0.2);margin:0 2px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;width:10px;height:10px;text-indent:-9999px}
ul.slider_nav a.activeSlide{background-color:rgba(170,170,170,1)}
ul.slider_nav li.active a{background-color:#fff}
.slider img{width:100%;height:auto}
ul.slider li .info h2{font-family:'DINN-Heavy';font-size:3.25em!important}
ul.slider li .info p{margin:0 20% 3.1em;line-height:1.3em}
.home_slider_top ul.slider li.ani .img_content{ opacity:1;background-color:#fff;position:relative}
.home_slider_top ul.slider li.ani .img_content svg{width:auto;height:94%}
.vertical .home_slider_top ul.slider li.ani .img_content svg{width:94%;height:auto;margin:0 3%}
.home_slider_top ul.slider li.ani .info{color:#292626;margin:0;width:100%}
ul.slider li.ani .info h2{font-size:13vh!important}
.vertical ul.slider li.ani .info h2{font-size:11vw!important}
ul.slider li.ani .info p{font-size:2vh;margin-top:1.1em;line-height:3vh;margin-bottom:9vh}
.vertical ul.slider li.ani .info p{font-size:2vw;line-height:3vw;margin-bottom:6vh}
ul.slider li.ani .number h6{font-size:7vh;font-weight:lighter;font-family:'DINN-Light'}
ul.slider li.ani .number p{font-size:1.65vh;margin:0!important;color:#999999;line-height:1.9vh}
ul.slider li.ani .number{float:left;display:inline;width:40%;margin:0 30%}
/* end home */

/* UPLOAD FILE */
.jFiler *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.jFiler{font-family:sans-serif;font-size:14px;color:#494949;float:left;display:inline;width:100%}
.jFiler ul.list-inline li{display:inline-block;padding-right:5px;padding-left:5px}
.jFiler .pull-left{float:left;display:inline;width:calc(100% - 50px)}
.jFiler .pull-right{float:right}
.jFiler-row:after, .jFiler-item:after{display:table;line-height:0;content:"";clear:both}
.jFiler-items ul{margin:0;padding:0;list-style:none}
.jFiler-theme-default .jFiler-input{position:relative;display:block;width:100%;height:35px;margin:0;background:#4E4D4D;font-size:12px;color:#D8D9DD;cursor:pointer;overflow:hidden;-webkit-box-shadow:rgba(0,0,0,.25) 0 4px 5px -5px inset;-moz-box-shadow:rgba(0,0,0,.25) 0 4px 5px -5px inset;box-shadow:rgba(0,0,0,.25) 0 4px 5px -5px inset}
.jFiler-theme-default .jFiler-input.focused{outline:none;-webkit-box-shadow:0 0 7px rgba(0,0,0,0.1);-moz-box-shadow:0 0 7px rgba(0,0,0,0.1);box-shadow:0 0 7px rgba(0,0,0,0.1)}
.jFiler-theme-default .jFiler.dragged .jFiler-input{border:1px dashed #aaaaaa;background:#f9f9f9}
.jFiler-theme-default .jFiler.dragged .jFiler-input:hover{background:#FFF8D0}
.jFiler-theme-default .jFiler.dragged .jFiler-input *{pointer-events:none}
.jFiler-theme-default .jFiler.dragged .jFiler-input .jFiler-input-caption{width:100%;text-align:center}
.jFiler-theme-default .jFiler.dragged .jFiler-input .jFiler-input-button{display:none}
.jFiler-theme-default .jFiler-input-caption{display:block;float:left;height:100%;padding-top:0.8em;padding-left:10px;text-overflow:ellipsis;overflow:hidden}
.jFiler-theme-default .jFiler-input-button{font-family:'DINN-Heavy';display:block;float:right;height:100%;padding:0.45em 1em 0;color:#666666;text-align:center;text-transform:uppercase;font-size:1.7em;position:absolute;z-index:10;right:0}
.jFiler-theme-default .jFiler-input-caption span{font-family:'DINN-Regular';font-size:1.5em}
.jFiler-items-default .jFiler-item{position:relative;padding:16px;background:#3E3E3E;color:#fff}
.jFiler-items-default .jFiler-item .jFiler-item-icon{font-size:32px;color:#f5871f;margin-right:15px;margin-top:-3px}
.jFiler-items-default .jFiler-item .jFiler-item-title{font-weight:bold;text-align:left;width:100%;float:left;display:inline}
.jFiler-items-default .jFiler-item .jFiler-item-others{font-size:12px;color:#777;margin-left:-5px;margin-right:-5px}
.jFiler-items-default .jFiler-item .jFiler-item-others span{display:none;padding-left:5px;padding-right:5px}
.jFiler-items-default .jFiler-item-assets{position:absolute;display:block;right:16px;top:50%;margin-top:-10px}
.jFiler-items-default .jFiler-item-assets a{cursor:pointer;background:url('images/icon_trash.gif') no-repeat 0 0;color:#777;width:20px;height:20px;float:right;display:inline}
/* FIN UPLOAD */

/* ANIMATIONS */
body #content .animation{opacity:0;-webkit-transition:all 0s ease 0s;-moz-transition:all 0s ease 0s;-o-transition:all 0s ease 0s;-ms-transition:all 0s ease 0s;transition:all 0s ease 0s}
body #content .addrelative{position:relative}
/* FIN ANIMATIONS */

/* desktop big screen */
@media screen and (min-width:114em){
	.wrap{max-width:1700px;float:left;width:1700px!important;margin:0 auto;margin-left:-850px!important;position:relative;left:50%}
	ul.slider li.ani .info p{font-size:1.4em;margin-top:0.7em;line-height:1.3em}
	ul.slider li.ani .number p{font-size:0.8em;margin-bottom:0}
	ul.slider li.ani .info h2{font-size:8em!important}
}

@media screen and (max-width:72em){
	ul.nav_list li a{font-size:2.3em}
	ul.nav_list li a{font-size:1.8em}
	body.vertical ul.nav_list li a{font-size:2.1em}
	ul.nav_list li{margin:0 1.1em}
	.about_content li h2{font-size:5em!important}
	.home_comments img.thumb{left:5%}
}
@media screen and (max-width:70em){
	p{line-height:20px}
	body{font-size:1em}
	ul.footer_item{margin-left:0;width:75%}
	ul.redes{width:auto}
	footer p.legal{right:0}
	#popup a.close{top:-2em}
	.services_content li{background-position:center calc(100%);font-size:0.90em;width:44%;background-size:auto 24%}
	.services_content li p{line-height:1.3em}
	#project_list li.item h2{font-size:1.55em!important}
	.contact_link strong{font-size:1.1em}
	.home_comments .comment_list li .content_item{padding:3em 1em}
	fieldset.form label.file{width:calc(100% - 30px)}
	
}
@media screen and (max-width:58em){/* Tablet portrait (768x1024) */
	.intro_team .text{width:90%;margin:25px 5% 10px}
	.intro_team h2{width:100%;margin:0}
	body{font-size:0.9em}
	h1{margin-bottom:1em!important}
	h3{font-size:1.6em!important}
	.external_links li{padding:4em 0}
	.intro_team p{margin-bottom:1.35em}
	.external_links li p.link{margin:3.6em 0 1em}
	ul.nav_list li{margin:0 0.7em}
	body.vertical ul.nav_list li{width:100%;margin:2em 0}
	.system_accordion ul.list{width:90%;margin:0 5%}
	.comment_list ul li{width:60%;padding:2.5em 20%}
	.about_content li h2{font-size:4.2em!important}
	.about_content li:last-child h2 span{background-size:auto 60%}
	#project_list li.item h2{font-size:1.35em!important;line-height:1em;padding-bottom:2em}
	section.content_careers .items_group .item .list{width:100%}
	form fieldset{width:64%;margin:0 17% 0 19%}
	.careers_link .content h5{font-size:2.5em}
	.home_text_list{font-size:80%}
	.home_comments .comment_list{padding:2em 0}
	ul.slider li .info h2{font-size:2.5em!important}
	ul.slider li .info a{font-size:1.3em}
	.slider img{width:130%;margin-left:-15%}
}
@media screen and (max-width:52em){/* Small tablet landscape (800x600) */
	.partners ul.clients li{width:25%}
	.services_content{margin:0 2%;width:96%}
	#project_list li .data{background-size:auto 30%!important}
	#project_list.main li.item_03 .data{background-size:20% auto!important}
	section.post_numbers li h6{font-size:1.9em}
}
@media screen and (max-width:42em){/* Small tablet portrait (600x800) */
	ul.team li{width:50%}
	#lang_sel_list a:visited, #lang_sel_list a, #lang_sel_list a:link{font-size:13px}
	.intro_team .text{-webkit-column-count:1;-moz-column-count:1;column-count:1}
	.partners h3{font-size:2.6em!important;font-family:'DINN-Light';line-height:1.2em}
	.external_links li{width:98%;margin:0 1% 1em}
	ul.redes li a{margin-left:8px}
	ul.redes li.Facebook a{margin-left:2px}
	.intro_team{padding-bottom:1em}
	.external_links li{padding:4em 0 0}
	.partners h3{margin-top:0.22em}  
	.services_content li{width:calc(90% - 4em);margin:0 5%} 
	.services_content li.item_02{position:relative;top:-4em}
	body#services #content .wrap{padding-bottom:210px}
	.services_content{margin:0 10%;width:80%}
	.system_accordion ul.list li{width:46%;margin-right:4%}
	.system_accordion ul.list li:nth-child(even){margin-left:4%;margin-right:0}
	.about_content li h2{font-size:3.7em!important}
	.about_content li .text-content{margin-top:17em;padding:3.4em 5% 6.3em}
	.about_content li .number{padding-top:4.2em;margin-top:17em}
	#project_list li h2{width:70%;margin:0 15%}
	#project_list li h2{font-size:1.45em!important}
	#project_list li h2{background-size:auto 18%}
	#project_list li.item_03 h2{background-size:20% auto}
	#project_list li .data{background-size:auto 30%}
	#project_list li.item_03 .data{background-size:20% auto}
	#project_list li.item h2, #project_list li.archive_link h2{font-size:1em!important;line-height:1em;padding-bottom:2.1em;background-size:auto 19%}
	section.post_numbers li{width:50%}
	section.post_numbers ul{position:relative;padding-top:12em}
	section.post_numbers li.center{position:absolute;left:0;top:0;width:100%;height:12em}
	section.post_numbers li.center svg{width:auto;height:100%}
	section.post_content .cols_content{width:86%;margin:0 7%;-webkit-column-count:1!important;-moz-column-count:1!important;column-count:1!important}
	.post section.header .col_01{position:static;width:100%;float:left;display:inline;margin-bottom:1.4em}
	.post section.header{position:static;width:86%;padding:0 7%}
	.project_info_list li.client, .project_info_list li.category{width:auto;margin-right:1.8em;margin-bottom:2em}
	section.header_careers h1{padding-top:2.4em;font-size:2.8em!important}
	section.header_careers{height:auto}
	section.header_careers p{margin:0 24%;padding-bottom:5em!important}
	section.content_careers .items_group .item p.intro{width:100%}
	section.content_careers .items_group .item a.more_info{float:left;margin:1em 0 1.2em}
	section.content_careers .items_group .item a.close{width:15px;height:15px;background-size:cover;right:4%}
	section.content_careers .items_group li.active a.close{top:1.8em}
	.contact_link strong{font-size:0.8em;background-size:auto 65%}
	.contact_link a{padding:6em 0}
	.home_comments .comment_list li{background-image:url('images/comment_mobile_background.gif');background-position:0 0;background-repeat:repeat-x;border-top:50px solid transparent;padding-bottom:0;padding-top:145px;background-color:transparent}
	.home_comments .comment_list li .content_item{width:auto}
	.home_comments img.thumb{top:65px;left:50%;margin-left:-100px!important;width:200px!important}
	.home_comments .comment_list ul{margin-top:-50px!important}
	.home_comments .comment_list{padding:0}
	.home_comments .comment_list ul{width:74%!important;margin-left:13%;margin-right:13%}
	ul.slider li .info h2{font-size:2.5em!important}
	.home_comments .comment_list li .content_item{padding:3em 1em}
	section.post_numbers li h6{font-size:2.4em}
	section.post_numbers li{height:8em}
	.about_content li:last-child h2{position:static;width:100%;text-align:left;margin-top:1em!important;padding:0.6em 0 0.1em!important;font-size:3em!important}
	.about_content li:last-child .text-content{padding:0 0 2em;float:left;display:inline;width:100%;background:#fff;text-align:justify;margin-top:0}
	.jFiler-theme-default .jFiler-input-caption{font-size:0.7em;padding-top:1.4em}
	.jFiler-theme-default .jFiler-input-button{font-size:1.2em;padding-top:0.8em}
	#project_list li.item h2, #project_list li.archive_link h2{background-size:auto}
}
@media screen and (max-width:32em){/* mobile portrait & landscape */
	body{font-size:0.8em}
	#content{margin-top:70px}
	header{height:60px}
	footer{font-size:0.85em}
	#popup.active{box-shadow:none;border-top:3.3em solid #fff}
	#popup a.close{right:0.8em}
	#popup.active a.close{top:-2.6em}
	#logo{margin-top:15px;margin-left:1.1em}
	a#menu_button{top:10px;right:1.2em}
	#lang_sel_list{top:24px;right:80px}
	.partners ul.clients li{width:33.333%}
	ul.team{width:90%;margin:0 5%}
	ul.team li{width:100%}
	#lang_sel_list a:visited, #lang_sel_list a, #lang_sel_list a:link{font-size:12px}
	#content .wrap{width:100%;margin:0}
	.intro_team h2{background:#F2F2F2;padding:12% 30%;width:40%;font-size:2.9em!important}
	.external_links li{width:90%;margin:0 5% 1em}
	.external_links li{padding:2.5em 0}
	ul.redes{width:126px;margin:0 calc(50% - 63px)}
	ul.redes li a{margin:0 6px 25px}
	ul.footer_item{margin:0 5%;width:90%}
	ul.footer_item li{width:100%;margin:0 0 2em;text-align:center}
	footer p.legal{position:static;width:100%;text-align:center;margin-bottom:1.1em}
	.partners ul.clients{width:90%;margin:0 5%}
	.external_links li p.link{margin:2.2em 0 0}
	.intro_team .text{width:88%;margin:25px 6% 10px}
	h1{font-size:2.7em!important}
	body ul.nav_list li{width:100%;margin:1em 0!important}
	.system_accordion ul.list li{height:auto}
	.system_accordion ul.list li, .system_accordion ul.list li:nth-child(even){width:100%;margin:0 0 0.8em;text-align:center}
	.about_content{width:100%;margin:0}
	.about_content li h2{position:static;width:92%;text-align:left;margin-top:5em;padding:0.6em 0 0.1em 8%!important;font-size:3em!important}
	.about_content li{-ms-background-size:auto 100%;-o-background-size:auto 100%;-moz-background-size:auto 100%;-webkit-background-size:auto 100%;background-size:auto 100%;padding-top:7em}
	.about_content li svg{display:none}
	.about_content li .text-content{padding:0 8% 2em;float:left;display:inline;width:84%;background:#fff;text-align:justify;margin-top:0}
	.about_content li:last-child h2{margin-top:0;padding-top:0!important}
	.about_content li:nth-child(even) p{text-align:justify}
	.offices_list li{width:50%;margin:0 5% 1em;padding:3em 20%}
	.offices_list li address span{margin-bottom:3em}
	.archive section.year label{position:absolute;top:2em;left:0;width:8%;padding:0;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg)}
	#project_list.archive section.year ul{width:92%;float:right}
	#project_list li h2, #project_list li.item_03 h2{background-size:auto 18%!important}
	#project_list li, #project_list li.item a, #project_list li.item a img{width:100%!important}
	#project_list li.item h2, #project_list li.archive_link h2{font-size:1.4em!important}
	#project_list{width:100%;margin:0}
	.post_header{position:relative;overflow:hidden;height:190px}
	.post_header img{width:auto;height:100%}
	section.post_content{overflow:hidden;position:relative}
	section.post_content img{overflow:hidden;position:relative;left:-25%;width:150%}
	section.post_numbers li{height:8.5em}
	section.post_content{width:100%;margin:0}
	.post section.header h1{margin-bottom:0.5em!important}
	section.content_careers .items_group .item{padding-left:8%;padding-right:8%;width:84%;margin:0}
	section.content_careers .items_group .item a.close{right:8%}
	form fieldset{width:100%;margin:0}
	fieldset.form label{width:100%;padding:0 0 0 0}
	form fieldset div.footer p{width:100%;text-align:center;margin-bottom:0.7em}
	.careers_link{background-position:center center;position:relative;height:22em;padding-top:10em;float:left;display:inline}
	.careers_link .content{width:80%;padding:1em 10%;position:absolute;top:0}
	.careers_link a.link{position:absolute;padding:1.75em 0 0;width:100%}
	.careers_link .content h5{font-size:2.5em;margin-bottom:0}
	.careers_link .content p{line-height:1.3em}
	.home_text_list{font-size:65%}
	.contact_link a{width:100%;padding:10.4em 0 1.6em;background-image:url('images/home_contact_background_m.jpg')}
	.contact_link strong{width:40%;position:absolute;left:0;top:0;z-index:2;background-color:transparent;padding:0 30%}
	.contact_link strong{font-size:1em}
	.services_comment .comment_list ul{width:100%;margin:0 0}
	.about_content li .number{display:none}
	.about_content li:last-child{padding-top:0;width:84%;margin:0 8%}
	.about_content li:last-child h2{margin-top:0.3em!important}
	.about_content li .image_wrap{background-size:cover;height:14em!important}
	fieldset.form label.required .field_wrap{background-image:url('images/field_required_mobile.png')}
	fieldset.form label .field{width:calc(100% - 45px)}
	fieldset.form label.file{width:calc(100% - 14px)}
	ul.sections li, ul.sections li a{width:100%}
	ul.sections li{width:50%;border-top:1px solid #999999;margin-bottom:0}
	ul.sections li a{padding:10px 0}
	ul.sections{width:100%;display:none;border-bottom:1px solid #999}
	a.mobile_expand_menu{float:left;display:inline;width:140px;position:relative;left:50%;margin-left:-70px;text-align:center;font-weight:bold;background:#999;padding:.6em 0}
	#project_list.main li.item_03 .data{background-size:auto 20% !important}
	div.sections_nav{margin-bottom:2.4em;float:left;display:inline;width:100%}
}
@media screen and (max-width:27em){/* mobile portrait */
	.partners ul.clients li{width:50%}
	.services_content li h2{font-size:1.7em!important}
	.services_content li p{line-height:1.2em;font-size:0.9em}
	.services_content li{width:calc(96% - 4em);margin:0px 2%}
	.comment_list ul li{width:80%;padding:2.5em 10%}
	.post_header img{position:relative;margin-left:-50%}
	.careers_link{height:15em}
	.contact_link strong{width:60%;padding-left:20%;padding-right:20%}
	.vertical .home_slider_top ul.slider li.ani .img_content svg{width:100%;margin:0}
	#project_list.main li.item_03 .data{background-size:auto 30% !important}
}